{% extends 'shaggydogtale/base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="page-title">Browse Tales</h1>
            <hr>
            {% for story in stories %}
                <div class="story-item">
                    <div class="col">
                        <a class="story" href="{% url 'shaggydogtale:view' story.id %}">{{story.title}}</a>
                    </div>
                    <div class="col">
                        {% if story.contributions.count < 3 %}
                            <div style="color: red">Unfinished</div>
                        {% else %}
                            <div style="color: green">{{story.votes.count}} votes</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock body %}
