{% extends 'shaggydogtale/base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="page-title">Create a Tale</h1>
            <hr>
            <form method="POST">
                {% csrf_token %}
                <table>
                    {{beginningForm.as_p}}
                </table>
                <tr>
                    <button class="btn btn-primary" type="submit">Save Story</button>
                </tr>
            </form>
        </div>
    </div>
</div>
{% endblock body %}
