{% extends 'shaggydogtale/base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                storyRating: {{storyRating}}
                <h5>Contributors</h5>
                {% if beginningContributor %}
                    <li>Beginning: <a href="{% url 'shaggydogtale:contributed' beginningContributor.id %}">{{beginningContributor.username}}</a> &ensp; <img src="https://cdn-icons-png.flaticon.com/512/5793/5793514.png" alt="" width="15px"> {{beginningContributorRating}}</li>
                {% else %}
                    <li>Beginning: None</li>
                {% endif %}

                {% if middleContributor %}
                    <li>Middle: <a href="{% url 'shaggydogtale:contributed' middleContributor.id %}">{{middleContributor.username}}</a> &ensp; <img src="https://cdn-icons-png.flaticon.com/512/5793/5793514.png" alt="" width="15px"> {{middleContributorRating}}</li>
                {% else %}
                    <li>Middle: None</li>
                {% endif %}

                {% if endContributor %}
                    <li>End: <a href="{% url 'shaggydogtale:contributed' endContributor.id %}">{{endContributor.username}}</a> &ensp; <img src="https://cdn-icons-png.flaticon.com/512/5793/5793514.png" alt="" width="15px"> {{endContributorRating}}</li>
                {% else %}
                    <li>End: None</li>
                {% endif %}

                <li>**Add an image for the rating, and pull the user's rating when we get their username**</li>
                {% comment %} if user contributed, add a form for their contribution {% endcomment %}
                {% if userContribution %}
                    {% if userContribution.section == 'b' %}
                        <form method="POST">
                            {% csrf_token %}
                            {{form.as_table}}
                            <tr>
                                <button class="btn btn-primary" type="submit">Save Story</button>
                            </tr>
                        </form>
                    {% else %}
                        <h2>{{story.title}}</h2>
                        <hr>
                        <p>{{story.beginning}}</p>
                    {% endif %}

                    {% if userContribution.section == 'm' %}
                        <form method="POST">
                            {% csrf_token %}
                            {{form.as_table}}
                            <tr>
                                <button class="btn btn-primary" type="submit">Save Story</button>
                            </tr>
                        </form>
                    {% else %}
                        <p>{{story.middle}}</p>
                    {% endif %}

                    {% if userContribution.section == 'e' %}
                    <form method="POST">
                        {% csrf_token %}
                        {{form.as_table}}
                        <tr>
                            <button class="btn btn-primary" type="submit">Save Story</button>
                        </tr>
                    </form>
                    {% else %}
                        <p>{{story.end}}</p>
                    {% endif %}

                {% comment %} If user did not contribute {% endcomment %}
                {% else %}
                    <h2>{{story.title}}</h2>
                    <hr>
                    <p>{{story.beginning}}</p>

                    {% if contributions.count == 1 %}
                        {% if user.is_authenticated %}
                            <form method="POST">
                                {% csrf_token %}
                                {{form.as_table}}
                                <tr>
                                    <button class="btn btn-primary" type="submit">Save Story</button>
                                </tr>
                            </form>
                        {% endif %}

                    {% else %}
                        <p>{{story.middle}}</p>
                    {% endif %}

                    {% if contributions.count == 2 %}
                        {% if user.is_authenticated %}
                            <form method="POST">
                                {% csrf_token %}
                                {{form.as_table}}
                                <tr>
                                    <button class="btn btn-primary" type="submit">Save Story</button>
                                </tr>
                            </form>
                        {% endif %}

                    {% else %}
                        <p>{{story.end}}</p>
                    {% endif %}

                    {% if userVote.count == 0 %}
                        <form method="POST">
                            {% csrf_token %}
                            <button class="btn btn-primary" name="Upvote" type="submit">Upvote</button>
                        </form>
                        <form method="POST">
                            {% csrf_token %}
                            <button class="btn btn-primary" name="Downvote" type="submit">Downvote</button>
                        </form>
                    {% endif %}
                {% endif %}
                <a href="{% url 'shaggydogtale:print' story.id %}" class="btn btn-primary">Save PDF</a>
            </div>
        </div>
    </div>
{% endblock body %}
