{% extends 'shaggydogtale/base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="page-title">{{story.title}}</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% comment %} if user contributed, add a form for their contribution {% endcomment %}
            {% if userContribution %}
                {% if userContribution.section == 'b' and editMode %}
                    <form method="POST" id="storyForm" class="story-block">
                        {% csrf_token %}
                        {{form.as_p}}
                    </form>
                {% else %}
                    {% if contributions.count == 3 %}
                        <p class="story-text">{{story.beginning}}</p>
                    {% else %}
                        <p class="story-text">{{storyBeginning}}</p>
                    {% endif %}
                {% endif %}

                {% if userContribution.section == 'm' and editMode %}
                    <form method="POST" id="storyForm" class="story-block">
                        {% csrf_token %}
                        {{form.as_p}}
                    </form>
                {% else %}
                    {% if contributions.count == 3 %}
                        <p class="story-text">{{story.middle}}</p>
                    {% else %}
                        <p class="story-text">{{storyMiddle}}</p>
                    {% endif %}
                {% endif %}

                {% if userContribution.section == 'e' and editMode %}
                <form method="POST" id="storyForm" class="story-block">
                    {% csrf_token %}
                    {{form.as_p}}
                </form>
                {% else %}
                    {% if contributions.count == 3 %}
                        <p class="story-text">{{story.end}}</p>
                    {% else %}
                        <p class="story-text">{{storyEnd}}</p>
                    {% endif %}
                {% endif %}

            {% comment %} If user did not contribute {% endcomment %}
            {% else %}
                {% if contributions.count == 1 %}
                    <p class="story-text">{{storyBeginning}}</p>
                    {% if user.is_authenticated %}
                        <form method="POST" id="storyForm" class="story-block">
                            {% csrf_token %}
                            {{form.as_p}}
                        </form>
                    {% endif %}

                {% elif contributions.count == 2 %}
                    <p class="story-text">{{storyMiddle}}</p>
                    {% if user.is_authenticated %}
                        <form method="POST" id="storyForm" class="story-block">
                            {% csrf_token %}
                            {{form.as_p}}
                        </form>
                    {% endif %}

                {% elif contributions.count == 3 %}
                    <p class="story-text">{{story.beginning}}</p>
                    <p class="story-text">{{story.middle}}</p>
                    <p class="story-text">{{story.end}}</p>
                {% endif %}
            {% endif %}
        </div>
        <div class="col">
            {% if userContribution %}
                <p><i>You have added to this story!
                <br>Select "Edit Story" to make changes to your section.</i></p>
            {% endif %}
            <h3 class="page-title">
                Treats
                <div>
                    <img src="https://cdn-icons-png.flaticon.com/512/5793/5793514.png" alt="" width="25px"><b>{{storyRating}}</b>
                </div>
            </h3>
            <h3 class="page-title">Contributors</h3>
            {% if beginningContributor %}
                <li><a class="story" href="{% url 'shaggydogtale:contributed' beginningContributor.id %}">{{beginningContributor.username}}</a> &ensp; <img src="https://cdn-icons-png.flaticon.com/512/5793/5793514.png" alt="" width="15px"> {{beginningContributorRating}}</li>
            {% else %}
                <li>None</li>
            {% endif %}

            {% if middleContributor %}
                <li><a class="story" href="{% url 'shaggydogtale:contributed' middleContributor.id %}">{{middleContributor.username}}</a> &ensp; <img src="https://cdn-icons-png.flaticon.com/512/5793/5793514.png" alt="" width="15px"> {{middleContributorRating}}</li>
            {% else %}
                <li>None</li>
            {% endif %}

            {% if endContributor %}
                <li><a class="story" href="{% url 'shaggydogtale:contributed' endContributor.id %}">{{endContributor.username}}</a> &ensp; <img src="https://cdn-icons-png.flaticon.com/512/5793/5793514.png" alt="" width="15px"> {{endContributorRating}}</li>
            {% else %}
                <li>None</li>
            {% endif %}
            <hr>
            {% if userContribution %}
                {% if editMode %}
                    <button class="btn btn-success" form="storyForm" type="submit">Save Story</button>
                {% else %}
                    <a href="{% url 'shaggydogtale:view' story.id True %}" class="btn btn-primary">Edit Story</a>
                {% endif %}
            {% else %}
                {% if contributions.count == 3 and userVote.count == 0 %}
                    <form method="POST">
                        {% csrf_token %}
                        <button class="btn btn-primary" name="Upvote" type="submit">Upvote</button>
                    </form>
                    <form method="POST">
                        {% csrf_token %}
                        <button class="btn btn-primary" name="Downvote" type="submit">Downvote</button>
                    </form>
                {% elif contributions.count < 3 and user.is_authenticated %}
                    <button class="btn btn-success" form="storyForm" type="submit">Save Story</button>
                {% endif %}
            {% endif %}
            <a href="{% url 'shaggydogtale:print' story.id %}" class="btn btn-warning">Download PDF</a>
        </div>
    </div>
        </div>
    </div>
</div>
{% endblock body %}
